span¨{
    font-style: oblique;
    font-weight: bold;
} 
span.negrita{
    font-weight: bold;
} 
span.pequenia{
    font-size: smaller;
} 
ul{list-style-type: lower-roman;} 
ol{list-style-image:url("img/lista.png")}